body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.ajoutons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.eduz, .sys {
    text-align: center;
    width: 45%;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

/* Styles pour les écrans plus petits (par exemple, les smartphones) */
@media screen and (max-width: 768px) {
    .ajoutons {
        flex-direction: column;
    }

    .eduz, .sys {
        width: 100%;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 20px;
    }
}
       
       
       