*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
}

body{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header{
    width: 70%;
    height: 80px;
    background-color: rgb(3, 152, 78);
    border-bottom: 1px solid  rgb(242, 82, 2);
    border-radius: 3px;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
} 



.header .logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.cart{
    display: flex;
    background-color: rgb(252, 252, 252);
    align-items: center;
    justify-content: space-between;
    padding: 7px 10px;
    width: 80px;
    border-radius: 3px;
}

.fa-solid{
  color: #cb7109;
 
}

.cart p{
    width: 22px;
    height: 22px;
    background-color: goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    color: white;
}


.container{
    display: flex;
    width: 70%;
    margin-bottom: 30px;
  

}

#root{
    display: grid;
    width: 60%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.sidebar{
    width: 40%;
    background-color: rgb(240, 170, 6);
    margin-left: 20px;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
   
}

.head{
    border-radius: 3px;
    height: 40px;
    background-color: rgb(102, 184, 84);
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}

.foot{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #333;
    margin: 20px 0px;
    padding: 10px 0px;
}

.box{
    border-radius: 5px;
    border: 1px solid goldenrod;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px ;
}

.img-box{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 180px;
    align-items: center;
}

.image{
    max-width: 90%;
    object-fit: cover;
    object-position: center;
    max-height: 90%;

}

.bottom{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    flex-direction: column;
}

h2{
    font-size: 20px;
    color: #f3f7f4;
}

button{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: #30cb09;
    padding: 7px 25px;
    cursor: pointer;
    color: white;

    
}

button:hover{
    background-color: #333;
}

.cart-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f3f7f4;
    bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 10px;
}

.row-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowimg{
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}
.fa-trash:hover{
    cursor: pointer;
    color: #333;

}