@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

input {
  caret-color: red;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  /* background: #0a090a; */
  background: linear-gradient(0deg, #94f0d0 0%, #236f40 100%);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: poppins;
}

.container {
  position: relative;
  width: 350px;
  height: 500px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #f4f5f6;
  box-shadow: 14px 14px 20px #9ba6b0, -14px -14px 20px;
}

.brand-logo {
  height: 100px;
  width: 100px;
  background:color( rgb(23, 118, 235));
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px rgb(238, 234, 234);
}

.brand-title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: #0099f7;
  letter-spacing: 1px;
}

.image{
    margin-top: -310px;
    margin-left: 90px;
    transform: rotate(30deg);


}

.inputs {
  text-align: left;
  margin-top: 30px;
}

label, input, button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 4px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: gray;
}

input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

button {
  color: white;
  margin-top: 20px;
  background: #f2bd1d;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cfd2d5, -6px -6px 6px rgb(218, 212, 212);
  transition: 0.5s;
}

button:hover {
  box-shadow: none;
}

a {
  position: absolute;
  font-size: 8px;
  bottom: 4px;
  right: 4px;
  text-decoration: none;
  color: rgb(10, 10, 10);
  /* background: rgb(74, 135, 145); */
  border-radius: 10px;
  padding: 2px;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
}


.oli{
    display: block;
    align-items: center;
}

.b2{
    font-size: xx-large;
    margin-top: -400px;
    font-size: bold;
    font-family: "Lucida Console", Courier, monospace;
    color: rgb(162, 234, 176);
   

}














































/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}


body{
    background: rgb(242, 179, 130);
}

.wrapper{
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color:  rgb(236, 199, 118);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(77, 81, 82, 0.908);
}

h1{
    font-size: 2rem;
    color: rgb(5, 55, 28);
    margin-bottom: 1rem;
}
form input{
    width: 30%;
    outline: none;
    border: 1px solid rgb(235, 230, 230);
    padding: 12px 20px;
    margin-bottom: 1Opx;
    border-radius: 20px;
    background: rgb(242, 248, 245);

}

button{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 30%;
    color: aliceblue;
    cursor: pointer;
    background: rgb(140, 245, 126);
}

button:hover{
    background:  rgb(17, 107, 143, 0.877);
}


input:focus{
    border: 1px solid rgb(192, 192, 192);
}

.terms{
    margin-top: 0.2rem;
}

.terms input{
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
    cursor: pointer;
}

.terms label{
    font-size: 0.7rem;
}
.terms a{
    color: rgb(0, 115, 255);
    text-decoration: none;
}
.number{
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: aqua;
}

.number a{
    color: blue;
    text-decoration: none;
}

.retour{
    width: 150px;
}
.retour button{
    margin-left: 600px;
    box-shadow: 0 20px 35px rgba(189, 230, 247, 0.908);


}

.container{
    margin-left: 35%;
    margin-top: 15%;
}  */




