<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/librairie.css')}}">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li class="logo">Ma Librairie.com </li>
            <div class=" items">
                <li><a href="/">Acceuil</a></li>
                <li><a href="/monprofil">mon profil</a></li>
                <li><a href="/librairie">Librairie</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">S'inscrire</a></li>
            </div>
            <li class="search-icon">
                <input type="search" placeholder="search">
               <label class="icon">
                <span class="fas fa-search"></span>
               </label>
            </li>
        </ul>
    </nav>
    <div class="gallery">

        <div class="content">
            <img src="{{url_for('static', filename= 'image/cuisinf.jpeg')}}" alt="">
            <h3>markette de cuisine</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <h6>1500fcfa</h6>
            <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star "></i></li>
            </ul>
            <a href="/payment"><button class="buy-1">Acheter</button></a>
        </div>


        <div class="content">
            <img src="{{url_for('static', filename= 'image/deco1.jpeg')}}" alt="">
            <h3>Livre de cuisine</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <h6>20000fcfa</h6>
            <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star "></i></li>
            </ul>
            <a href="/payment"><button class="buy-2">Acheter</button></a>
        </div>


        <div class="content">
            <img src="{{url_for('static', filename= 'image/1.jpg')}}" alt="">
            <h3>sac a dos</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <h6>1500fcfa</h6>
            <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star "></i></li>
            </ul>
           <a href="/payment"> <button class="buy-3">Acheter</button></a>
        </div>


        <div class="content">
            <img src="{{url_for('static', filename= 'image/7.jpg')}}" alt="">
            <h3>sac nike</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <h6>1500fcfa</h6>
            <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star "></i></li>
            </ul>
            <a href="/payment"><button class="buy-4">Acheter</button></a>
        </div>



         <div class="content">
            <img src="{{url_for('static', filename= 'image/4.jpeg')}}" alt="">
            <h3>kechoia</h3>
            <p>un sac durable et praticable</p>
            <h6>6700fcfa</h6>
            <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star "></i></li>
            </ul>
          <a href="/payment"> <button class="buy-5">Acheter</button></a>
        </div>



        <div class="content">
            <img src="{{url_for('static', filename= 'image/dessin2.jpeg')}}" alt="">
            <h3>markette de cuisine</h3>
            <p>belle marquette de cuisne pour vous</p>
            <h6>15000fcfa</h6>
            <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star "></i></li>
            </ul>
           <a href="/payment"> <button class="buy-6">Acheter</button></a>
        </div>


        <div class="content">
            <img src="{{url_for('static', filename= 'image/8.jpg')}}" alt="">
            <h3>Marquerre</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <h6>1000fcfa</h6>
            <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star "></i></li>
            </ul>
           <a href="/payment"> <button class="buy-7">Acheter</button></a>
        </div>


        <div class="content">
            <img src="{{url_for('static', filename= 'image/image3d.jpeg')}}" alt="">
            <h3>markette</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <h6>3500fcfa</h6>
            <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star "></i></li>
            </ul>
           <a href="/payment"> <button class="buy-8">Acheter</button></a>
        </div>


        <div class="content">
            <img src="{{url_for('static', filename= 'image/image3d.jpeg')}}" alt="">
            <h3>livre</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <h6>1500fcfa</h6>
            <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star "></i></li>
            </ul>
          <a href="/payment">  <button class="buy-9">Acheter</button></a>
        </div>


        <div class="content">
            <img src="{{url_for('static', filename= 'image/cuisinf.jpeg')}}" alt="">
            <h3>tablette</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <h6>1500fcfa</h6>
            <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star "></i></li>
            </ul>
           <a href="/payment"> <button class="buy-10">Acheter</button></a>
        </div> 


        <div class="content">
            <img src="{{url_for('static', filename= 'image/deco2.webp')}}" alt="">
            <h3>tablette</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <h6>1500fcfa</h6>
            <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star "></i></li>
            </ul>
          <a href="/payment">  <button class="buy-11">Acheter</button></a>
        </div> 


        <div class="content">
            <img src="{{url_for('static', filename= 'image/cuisinf.jpeg')}}" alt="">
            <h3>tablette</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <h6>1500fcfa</h6>
            <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star "></i></li>
            </ul>
         <a href="/payment"><button class="buy-12">Acheter</button></a>
        </div> 



    </div>
</body>
</html>