<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/librairie.css')}}">
    <script src="https://kits.fontawesome.com/92d70afd8.js"  crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="header">
       <p class="logo">Ma Librairie.com</p> 
       <div class="cart"><i class="fa-solid fa-cart-shopping"></i><p id="count">0</p></div>
    </div>
    <div class="container">
        <div id="root"></div>
        <div class="sidebar">
            <div class="head"><p>Mon pannier</p></div>
            <div class="cartItem">Votre pannier est vide</div>
            <div class="foot">
                <h3>total   :</h3>
                <h2 id="total">FCFA 0.00</h2>
            </div>
        </div>
    </div>
    <script src="librairie.js"></script>
</body>
</html>